<div id="home" class="container">
  <table class="table table-striped">
    <thead>
      <div class="ps-3 pt-2">
        <p class="text-decoration-underline m-0 fs-4">Initiative NameInitiative NameInitiative</p>
        <p class="fw-lighter fst-italic m-0 fs-6">Initiative DescInitiative DescInitiative</p>
      </div>
      <tr>
        <th scope="col">Action Item</th>
        <th scope="col">Status</th>
        <th scope="col">Priority</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">fancy named action item with specificaction item with specific action item with specificaction item with specific details on what can be done</th>
        <td class="text-nowrap">Not Done</td>
        <td>Medium</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td class="text-nowrap">Partial adoption</td>
        <td>Thornton</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td class="text-nowrap">Larry</td>
        <td>the Bird</td>
      </tr>
    </tbody>
  </table>
</div>
