<div id="home" class="container">
  <% @initiatives.each do |initiative| %>
  <div class="ps-3 pt-2">
    <p class="text-decoration-underline m-0 fs-4"><%= initiative.name %></p>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Action Item</th>
        <th scope="col">Status</th>
        <th scope="col">Priority</th>
      </tr>
    </thead>
    <tbody>
      <% initiative.initiative_item.each do |initiative_item| %>
      <tr>
        <th scope="row"><%= initiative_item.name %></th>
        <td class="text-nowrap"><%= initiative_item.status %></td>
        <td><%= initiative_item.priority %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <% end %>
</div>